body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.container__left {
  flex-basis: 50%;
  padding-right: 1rem;
  text-align: center;
}

.container__right {
  flex-basis: 50%;
  padding-left: 1rem;
}

h1 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.left-content-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 100%;
}

.App {
  background-color: #174274;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 70%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th, td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.AddButton {
  background-color: #24A1DE;
  color: white;
}

.AddButton:hover {
  background-color: #1D87BC;
}

.DoneButton {
  background-color: #4CAF50;
  color: white;
}

.DoneButton:hover {
  background-color: #45a049;
}

.DeleteButton {
  background-color: #D63B25;
  color: white;
  display: flex;
  align-items: center;
}

.DeleteButton:hover {
  background-color: #EC4F3A;
}